.stwii-popup-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.stwii--panel {
  filter: drop-shadow(1px 1px 2px var(--black50a));
  overflow: auto;
  border-radius: 10px;
  aspect-ratio: unset;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  font-size: small;
  max-height: 50vh;
  background-color: var(--secondaryBg, var(--SmartThemeBlurTintColor));
}

.stwii--panel.stwii--isActive {
  display: flex;
}

.stwii-config-panel-container {
  display: none;
}
.stwii-config-panel-container.stwii--isActive {
  display: block;
}

.stwii--world {
  font-weight: bold;
}

.stwii--entry {
  gap: 0.5em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  opacity: 0.75;
  cursor: help;
  transition: 200ms;
}
.stwii--entry:hover {
  opacity: 1;
}
.stwii--entry.stwii--isBroken {
  background-color: rgba(255, 0, 0, 0.5);
}

.stwii--note .stwii--strategy::before {
  opacity: 0.5;
}

.stwii--messages .stwii--strategy {
  position: relative;
}
.stwii--messages .stwii--strategy::after {
  content: attr(data-stwii--count);
  font-family: var(--mainFontFamily);
  position: absolute;
  inset: 0;
  text-shadow: -1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
  font-size: 0.75em;
  padding-top: 0.25em;
}
.stwii--messages .stwii--strategy::before {
  opacity: 0.5;
}

.stwii--messages .stwii--title {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: 0.5em;
  width: 0;
}
.stwii--messages .stwii--title .stwii--first,
.stwii--messages .stwii--title .stwii--last {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stwii--messages .stwii--title .stwii--sep {
  opacity: 0.75;
  flex: 0 0 auto;
  line-height: 0.125em;
  padding-bottom: 0.6em;
}

.stwii--configRow {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0.5;
  transition: 200ms;
}
.stwii--configRow:hover {
  opacity: 1;
}